<nav>
    <div class="nav-wrapper">
        <a href="/"class="brand-logo center">MusicPal</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
        </ul>
    </div>
</nav>
<!-- form -->
<body>

  
  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="https://images.pexels.com/photos/1916821/pexels-photo-1916821.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940"></a>
 
        {{!-- EMPIEZA PRIMERA COLUMNA --}}
               <nav>
                <div class="nav-wrapper  z-depth-0">
                    <ul id="nav-mobile" class="left hide-on-med-and-down  z-depth-0">
                        <li><a href="/search"><h4 id="musicpal">MUSICPAL</h4></a></li>
                        <li><a href="/">Home</i>
                            </a></li>
                        <li><a href="/search">Search</a></li>
                          

                    </ul>
                </div>
            </nav>
            <br><br><br>
 
<div class="container containerMargin">
    

    <div class="row">
                <div class="col m8">


<form action="/search" method="GET">
        <div class="input-field col s12">
            <select name="location" id="bandLocation">
                <option value=""></option>
                <option value="Guadalajara">Guadalajara</option>
                <option value="Monterrey">Monterrey</option>
                <option value="Mexico City">Mexico City</option>
            </select>
            <label for="bandLocation">Choose location</label>
        </div>
        <div class="input-field col s12">
            <select name="vacancy" id="bandVacancy">
                <option value=""></option>
                <option value="Guitarist">Guitarist</option>
                <option value="Vocalist">Vocalist</option>
                <option value="Drums">Drums</option>
                <option value="Synth">Synth</option>
            </select>
            <label for="bandVacancy">Choose what you are looking for</label>
        </div>

        <div class="input-field col s12">
            <select name="genre" id="genre">
                <option value=""></option>
                <option value="Rock">Rock</option>
                <option value="Pop">Pop</option>
                <option value="Jazz">Jazz</option>
            </select>
            <label>Choose band's genre</label>
                        <button id="submitBand" type="submit">Search</button>

        </div>


    </div>
    </div>
</form>
</div>

</div>

</body>
<script>
    $(document).ready(function () {
        $('.parallax').parallax();
        $('select').formSelect();
        $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
  });
    });

</script>
<script src="/js/index.js"></script>
<!-- results -->

<div class="row card-content valign center">
    <div class="addsContainer col s12 card-content valign center">
{{#each bands}}
<div class="cardContainer col s12 m6 l4 xl3 card-content valign-center">
    <div class="card sticky-action col s12" style="overflow: visible;">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator img"
                src="https://www.katyperry.com/files/2017/04/Screen-Shot-2017-02-14-at-5.17.09-PM.png">
        </div>
        <div class="card-content">
            <div class="cardTitle"></div>
            <div class="card-title activator truncate flexTitle ">{{name}}</div>
            <div class="cardText">
                <p class="paragraph">{{genre}}</p>
                <p class="paragraph">{{location}}</p>
                <p class="paragraph">{{vacancy}}</p>
            </div>
        </div>
        <div class="card-reveal" style="display: none; transform: translateY(0%);">
            <div class="card-title flexTitle truncate"></div>
            <div class="card-title">
                <i class="material-icons small right">close</i>
            </div>
            <h5 class="job-description card-content valign center">Our Band</h5>
            <p>{{description}}</p>

            <button class="btn waves-effect waves-light fb" href="{{fblink}}">FB Link
                <i class="material-icons right">call</i>
            </button>
            </a>
        </div>
    </div>
</div>
{{/each}}
</div>
</div>