<nav>
    <div class="nav-wrapper">
        <a href="/"class="brand-logo center">MusicPal</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
        </ul>
    </div>
</nav>
<!-- form -->
<div class="formContainer">
    <form action="/search" method="GET">
        <div class="row">
            <div class="input-field col s12">
                <select name="location" id="bandLocation">
                    <option value=""></option>
                    <option value="Guadalajara">Guadalajara</option>
                    <option value="Monterrey">Monterrey</option>
                    <option value="Mexico City">Mexico City</option>
                </select>
                <label for="bandLocation">Choose location</label>
            </div>
            <div class="input-field col s12">
                <select name="vacancy" id="bandVacancy">
                    <option value=""></option>
                    <option value="Guitarist">Guitarist</option>
                    <option value="Vocalist">Vocalist</option>
                    <option value="Drums">Drums</option>
                    <option value="Synth">Synth</option>
                </select>
                <label for="bandVacancy">Choose what you are looking for</label>
            </div>

            <div class="input-field col s12">
                <select name="genre" id="genre">
                    <option value=""></option>
                    <option value="Rock">Rock</option>
                    <option value="Pop">Pop</option>
                    <option value="Jazz">Jazz</option>
                </select>
                <label>Choose band's genre</label>
            </div>
        </div>

        <button type="submit" class="bandbutton" id="searchButton">Search</button>

        </button>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('.parallax').parallax();
        $('select').formSelect();
    });

</script>
<script src="/js/index.js"></script>
<!-- results -->

<div class="row card-content valign center">
    <div class="addsContainer col s12 card-content valign center">
{{#each bands}}
            <div class="cardContainer col s12 m6 l4 xl3 card-content valign-center">
                <div class="card sticky-action col s12" style="overflow: visible;">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator img" src="{{img}}">
                    </div>
                    <div class="card-content">
                        <div class="cardTitle"></div>
                        <div class="card-title activator truncate flexTitle ">{{name}}</div>
                        <div class="cardText">
                            <p class="paragraph"><span class="titulosCard">Genre: </span>{{genre}}</p>
                            <p class="paragraph"><span class="titulosCard">Location: </span>{{location}}</p>
                            <p class="paragraph"><span class="titulosCard">Looking for: </span>{{vacancy}}</p>
                        </div>
                    </div>
                    <div class="card-reveal" style="display: none; transform: translateY(0%);">
                        <div class="card-title flexTitle truncate"></div>
                        <div class="card-title">
                            <i class="material-icons small right">close</i>
                        </div>
                        <h5 class="job-description card-content valign center">Our Band</h5>
                        <p>{{description}}</p>
                        <a  href="{{fblink}}">
                        <button class="btn waves-effect waves-light fb">FB Link
                                <i class="material-icons right">call</i>
                        </button>
                        </a>
                    </div>
                </div>
            </div>
{{/each}}
</div>
</div>